<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <h2>Editar Datos</h2>

    <form action="/update/<%= user.id %>" method="post">
        <label for="name">Nombre: </label>
        <div class="coolinput">
            <input type="text" name="name" id="name" required placeholder="Nombre: " class="input">
        
            <label for="email" class="text">Correo: </label>
            <input type="email" name="email" id="email" required placeholder="Email: " class="input">
            <br><br>
            <button type="submit" class="btn">Actualizar</button>
        </div>
    </form>
</body>
</html>